fastapi
uvicorn
sqlalchemy
pymysql
python-dotenv
pydantic-settings
passlib[bcrypt]
bcrypt==4.3.0
python-jose[cryptography]
email-validator
PyMuPDF
python-docx
pandas
numpy
scikit-learn
spacy
sentence-transformersfastapi
uvicorn
sqlalchemy
pymysql
python-dotenv
pydantic-settings
passlib[bcrypt]
bcrypt==4.3.0
python-jose[cryptography]
email-validator
PyMuPDF
python-docx
pandas
numpy
scikit-learn
spacy
sentence-transformers